@import url("https://fonts.cdnfonts.com/css/futura-pt");

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* styles for the header section */

h1 {
  font-family: "Futura PT", Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 450;
  filter: drop-shadow(0 0.2rem 0.1rem #00000032);
  color: #1D2B3F;
  -webkit-text-stroke: 2px #000;
  text-stroke: 1px #000;
}

.radial-bckg {
  background: radial-gradient(50.00% 81.67% at 50.00% 100.00%, rgba(246, 243, 239, 0.00) 0%, #F6F3EF 100%);
  ;
  height: 690px;
}

.title-wrapper {
  width: 570px;
}

.title-space {
  width: 70px;
  display: inline-block;
}

.title-margin {
  margin: 5px 0 0 -40px;
}

.title-bckg-wrp {
  width: 93%;
  max-width: 1400px;
}

.title-bckg {
  height: 416px;
}

.title-bckg-square {
  width: 414px;
  aspect-ratio: 1;
  border: 1px solid #E8E1E1;
  border-radius: 60px;
  position: relative;
  box-sizing: content-box;
}

.title-bckg-content {
  position: relative;
  width: 300px;
  height: 265px;
}

.title-bckg-circle {
  position: absolute;
  border: 1px solid #E8E1E1;
  border-radius: 50%;
  width: 108px;
  aspect-ratio: 1;
  margin: auto;
  left: 96px;
  top: 78px;
  background-color: #F7F4F0;
}

.title-mt-1 {
  top: 0;
  left: 81px;
}

.title-mt-2 {
  transform: rotate(120deg);
  bottom: 20px;
  right: 32px;
}

.title-mt-3 {
  transform: rotate(240deg);
  bottom: 20px;
  left: 32px;
}

.title-qr-wrapper {
  width: 300px;
  height: 100px;
  margin-left: 90px;
}

.title-qr-text {
  width: 170px;
  font-size: 14px;
  color: #1D2B3F;
}

/* styles for the app overview section */

.section-app-overview {
  /* remove or change height when direction-column */
  height: 518px;
  max-width: 1500px;
}

.section-overview-textbox-1 {
  width: 270px;
  height: 173px;
  margin: 40px 0 0 calc(100vw * 0.11);
}

.section-overview-text-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.section-overview-text-2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
}

.section-overview-ellipse-1 {
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(244, 233, 81, 0.50) 0%, #F4E951 100%);
  width: 424.122px;
  height: 479.442px;
  transform: rotate(-120deg);
  left: calc(100vw * 0.049);
  bottom: 148.77px;
}

.section-overview-img-wrapper {
  width: 470px;
  height: 615px;
  margin-top: -197px;
}

.section-overview-img-wrapper > img {
  filter: drop-shadow(0 0 12px #00000016);
}

.section-overview-img-1 {
  top: 72px;
}

.section-overview-img-3 {
  top: 72px;
}

.section-overview-ellipse-2 {
  border-radius: 50%;
  width: 617.406px;
  height: 697.937px;
  transform: rotate(120deg);
  border: 1px solid #DED5D5;
  right: calc(100vw * 0.084);
  bottom: 27.2px;
}

.section-overview-textbox-2 {
  width: 270px;
  height: 286px;
  margin: 40px 0 0 calc(100vw * 0.043);
}

.section-overview-apple {
  margin-bottom: 13.5px;
}

.flex-fill {
  flex: 1 1 500px!important;
}

/* styles for the slider section */

.section-app-slider {
  border: 1px purple dashed;
  height: 496px;
}

/* styles for the app download section */

.section-app-download {
  height: 378px;
}

.section-app-download-mt4 {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: #F4F6F7;
}

.section-app-download-text {
  width: 570px;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

.section-app-download-links {
  gap: 29.69px;
}

/* styles for the app advertisement text section */

.section-app-ad {
  border: 1px olive dashed;
  height: 877.49px;
}

/* styles for the footer */

.footer {
  border: 1px pink;
  height: 175px;
}