@import url("https://fonts.cdnfonts.com/css/futura-pt");

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* styles for the header section */

h1 {
  font-family: "Futura PT", Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 450;
  filter: drop-shadow(0 0.2rem 0.1rem #00000032);
  color: #1D2B3F;
  -webkit-text-stroke: 2px #000;
}

.radial-bckg {
  background: radial-gradient(50.00% 81.67% at 50.00% 100.00%, rgba(246, 243, 239, 0.00) 0%, #F6F3EF 100%);
  height: 690px;
}

.title-group-wrapper{
  left: calc(100vw * 0.5 - 285px);
}

.title-wrapper {
  width: 570px;
}

.title-space {
  width: 70px;
  display: inline-block;
}

.title-margin {
  margin: 5px 0 0 -40px;
}

.title-bckg-wrp {
  width: 93%;
  max-width: 1400px;
}

.title-bckg {
  height: 416px;
}

.title-bckg-square {
  width: 414px;
  aspect-ratio: 1;
  border: 1px solid #E8E1E1;
  border-radius: 60px;
  position: relative;
}

.title-bckg-content {
  position: relative;
  width: 300px;
  height: 265px;
}

.title-bckg-circle {
  position: absolute;
  border: 1px solid #E8E1E1;
  border-radius: 50%;
  width: 108px;
  aspect-ratio: 1;
  margin: auto;
  left: 96px;
  top: 78px;
  background-color: #F7F4F0;
}

.title-mt-1 {
  top: 0;
  left: 81px;
}

.title-mt-2 {
  transform: rotate(120deg);
  bottom: 20px;
  right: 32px;
}

.title-mt-3 {
  transform: rotate(240deg);
  bottom: 20px;
  left: 32px;
}

.title-qr-wrapper {
  width: 300px;
  height: 100px;
  margin-left: 90px;
}

.title-qr-text {
  width: 170px;
  font-size: 14px;
  color: #1D2B3F;
}

/* styles for the app overview section */

.section-app-overview {
  height: 518px;
  max-width: 1500px;
}

.section-overview-textbox-1 {
  width: calc(100vw * 0.18);
  max-width: 270px;
  height: 173px;
  margin: 40px 0 0 calc(100vw * 0.11);
}

.section-overview-textbox-1::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(244, 233, 81, 0.50) 0%, #F4E951 100%);
  width: 424.122px;
  height: 479.442px;
  transform: rotate(-120deg);
  left: calc(100vw * -0.049);
  top: -133px;
  z-index: -2;
}

.section-overview-text-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.section-overview-text-2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
}

.section-overview-img-wrapper {
  max-width: 470px;
  width: calc(100vw * 0.313);;
  height: 615px;
  margin-top: -197px;
}

.section-overview-img-wrapper > img {
  filter: drop-shadow(0 0 12px #00000016);
}

.section-overview-img-1 {
  top: 72px;
}

.section-overview-img-3 {
  top: 72px;
}

.section-overview-ellipse-2 {
  border-radius: 50%;
  width: 617.406px;
  height: 697.937px;
  transform: rotate(120deg);
  border: 1px solid #DED5D5;
  right: calc(100vw * 0.084);
  bottom: 27.2px;
}

.section-overview-textbox-2 {
  width: calc(100vw * 0.18);
  max-width: 270px;
  height: 286px;
  margin: 40px 0 0 calc(100vw * 0.043);
}

.section-overview-textbox-2::before {
  content: "";
  position: absolute;
  top: -220px;
  left: -340px;
  width: 680px;
  height: 697.937px;
  z-index: -1;
  background: url("./assets/images/outline-ellipse.png") no-repeat;
}

.section-overview-apple {
  margin-bottom: 13.5px;
}

.flex-fill {
  flex: 1 1 33%!important;
} 

/* styles for the slider section */

.section-slider {
  height: 496px;
}

.section-slider-overflow {
  height: 416px;
}

.section-slider-wrp {
  margin-top: 46px;
}

.carousel-indicators {
  top: -50px;
}

.carousel-indicators{
   gap: 10px;
}

.carousel-indicators > button.active {
  background-color: #B68756;
  width: 18px;
  height: 6px;
  border-radius: 25% / 50%;
}

.carousel-indicators [data-bs-target] {
  background-color: #EBE5DE;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.carousel-inner > div {
  width: 770px;
  height: 370px;
  background-color: #F6F3EF;
  border-radius: 30px;
}

.carousel-item {
  float: unset;
  margin: 0 auto;
}

.carousel-item.active {
  -webkit-text-stroke: 1px #000;
  border: 1px solid #000;
}

.carousel-item > div > div {
  width: 570px;
}

.section-slider-text {
  width: calc(100vw * 0.18);
}

.section-slider-text-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.section-slider-text-2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
}

/* styles for the app download section */

.section-app-download {
  height: 378px;
}

.section-app-download-mt4 {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: #F4F6F7;
}

.section-app-download-text {
  width: 570px;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

.section-app-download-links {
  gap: 29.69px;
}

/* styles for the app advertisement text section */

.section-ad {
  height: 877.49px;
  max-width: 1500px;
}

.section-ad-download {
  width: calc(100vw * 0.31);
  max-width: 470px;
  height: 305px;
  margin: 359.49px 0 0 calc(100vw * 0.11);
}

.section-ad-download::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -43px;
  width: 680px;
  height: 697.937px;
  z-index: -1;
  background: url("./assets/images/outline-ellipse.png") no-repeat;
}

.section-ad-download-text{
  color: #2D3436;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

.section-ad-qr-text {
  width: 192px;
  font-size: 14px;
  color: #1D2B3F;
}

.section-ad-qr-wrapper {
  width: 325px;
}

.section-ad-imgs {
  width: 426px;
  height: 669px;
  margin: 104.49px calc(100vw * 0.19) 0 0;
}

.section-ad-imgs::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -124px;
  width: 690.899px;
  height: 611.18px;
  background: url("./assets/images/blue-ellipse.png") no-repeat;
}

.section-ad-imgs > img {
  filter: drop-shadow(0 0 12px #00000016);
 }

/* styles for the footer */

.footer {
  height: 175px;
  text-align: center;
}

.footer-text-wrap {
  max-width: 1170px;
  width: 78%;
  height: 60px;
  border-radius: 9px;
  background-color: #F8F2EC;
  font-size: 22px;
}

.footer-highlight {
  font-size: 22px;
  font-weight: 700;
  line-height: 112%;
  color: #B68756;
  text-decoration-line: underline;
}

/* responsiveness and adaptiveness */

@media only screen and (max-width: 1200px) {

  .section-overview-textbox-2::before {
    background-size: 70%;
    top: -111px;
    left: -131px;
    overflow: hidden;
  }
  
  .section-ad-download::before {
    top: -40px;
    left: -43px;
    background-size: 62%;
  }

  .section-overview-img-1,
  .section-overview-img-3 {
    width: 170px;
    height: auto;
  }

  .section-overview-img-2 {
    width: 220px;
    height: auto;
  }
  
}

@media only screen and (max-width: 1000px) {

  .section-ad-imgs::before {
    top: 20px;
    left: -70px;
    background-size: 61%;
  }

  .section-ad-imgs {
    width: 266px;
    height: 418px;
    margin: 104.49px calc(100vw * 0.1) 0 0;
  }

  .section-ad-imgs > img {
    width: 181px;
    height: auto;
   }

   .section-overview-img-1,
   .section-overview-img-3 {
     width: 143.62px;
     height: auto;
   }
 
   .section-overview-img-2 {
     width: 194.68px;
     height: auto;
   }

   .title-bckg-squares {
    justify-content: center!important;
   }

   .title-bckg-squares div:nth-child(2),
   .title-bckg-squares div:nth-child(3) {
    display: none!important;
   }
}

@media only screen and (max-width: 850px) {

  .section-app-overview {
    height: 944px;
    flex-direction: column;
    align-items: center;
  }

  .section-app-overview div:nth-child(2),
  .section-app-overview div:nth-child(3),
  .section-overview-textbox-1,
  .section-overview-img-wrapper,
  .section-overview-textbox-2,
  .section-overview-text-1,
  .section-overview-text-2,
  .section-app-download-text {
    max-width: unset;
    width: 300px!important;
    margin: unset;
  }

  .section-overview-textbox-1::before {
    left: -100px;
  }

  .section-ad-download {
    max-width: unset;
    width: 300px!important;
  }

  .section-app-download-links{
    flex-direction: column;
  }

  .section-overview-img-wrapper {
    margin: unset;
    height: unset;
  }

  .section-ad {
    flex-direction: column-reverse;
  }

  .section-ad-download {
    margin: unset;
  }

  .section-ad-imgs,
  .section-ad-download {
    margin-left: auto;
    margin-right: auto;
  }

  .flex-fill {
    flex: 1 1 auto!important;
  }

  .section-overview-textbox-2 {
    position: absolute;
    text-align: center;
    top: -120px;
    height: 242px;
  }

  .carousel-item > div > div {
    flex-direction: column;
    width: 300px;
    margin: 0!important;
  }

  .carousel-item > div > div > div {
    width: 300px;
  }

  .carousel-item.active {
    -webkit-text-stroke: unset;
    border: none;
  }

  .section-ad {
    height: 1107px;
  }

}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 36px;
    width: 300px;
    height: 160px;
    margin: auto;
    font-weight: 450;
    line-height: 110%;
    -webkit-text-stroke: unset;
  }

  .title-margin {
    margin: -60px 0 0 -40px;
  }

  .title-qr-wrapper {
    flex-direction: column;
    height: 180px;
    margin-top: 35px;
  }
  
  .title-space {
    display: none;
  }

  .title-bckg-squares {
    padding-top: 80px;
  }

}